# ======================
# Python Virtual Environments
# ======================
myenv/
venv/
.env/
.venv/

# ======================
# Python Cache
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Build / Distribution
# ======================
build/
dist/
*.egg-info/

# ======================
# Streamlit
# ======================
.streamlit/

# ======================
# Logs & Temporary Files
# ======================
*.log
*.tmp

# ======================
# Data Files
# ======================
*.xlsx
*.csv

# ======================
# IDE Settings
# ======================
.vscode/
.idea/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db
